/* Add your CSS below */

/* Example: adding a background color to the HTML body */
body {
      h1 {
      background-color: #607d8b;
      color: #ffffff;
      }
      h2 {
      background-color: #607d8b;
      color: #ffffff;
      }
}
